{% trans_default_domain 'ir_customer' %}

<div class="page-header">
    <h1>{{ 'customer.edit.title'|trans }}</h1>
</div>

<form action="{{ path('ir_customer_edit', {'id': id}) }}" {{ form_enctype(form) }} method="POST" class="form-horizontal" novalidate>
    {% include 'IRCustomerBundle:Customer:form.html.twig' %}
    <div>
        <button type="submit" class="btn btn-primary">{{ 'customer.edit.save'|trans }}</button>
    </div>      
</form>